data/*
!data/__init__.py
.pytest_cache
.conda
.mypy_cache
__pycache__
.venv
.vscode
.DS_Store
data_2
.history/* # VsCode history extension 

*.feather

*.pyc
*.egg-info


### Code coverage

.coverage
coverage.xml
notebooks/untracked/*